@{
    ViewData["Title"] = "Aprovações";
}

<div class="text-center">

    <h1 class="display-4">Aprovar cadastro</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
                <th scope="col">Código de validação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Professora Rosilane</td>
                <td>rosilane@pucminas.br</td>
                <td>000.000.000-00</td>
                <td>40028922</td>
            </tr>

        </tbody>
    </table>
</div>

