@{
    ViewData["Title"] = "Confirmacao";
}

<div class="text-center">

    <h1 class="display-4">Confirmação</h1>
    <br>
    <h3 class="display-6">Deseja apagar o usuário: Nome do usuário?</h3>
    <br>
    <button type="submit" class="btn btn-danger">Apagar</button>
    <a type="submit" class="btn btn-secondary" asp-controller="Gestão" asp-action="Index">Cancelar</a>
</div>