@{
    ViewData["Title"] = "Editar usuário";
}

<div class="text-center">

    <h1 class="display-4">Editar usuário</h1>
    <br>
</div>

<form>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do usuário">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="Digite o email do usuário">
    </div>
    <div class="mb-3">
        <label class="form-label">CPF</label>
        <input type="number" class="form-control" placeholder="000.000.000-00">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="text" class="form-control" placeholder="Digite a nova senha do usuário">
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
    <a type="submit" class="btn btn-secondary" asp-controller="Clientes" asp-action="Index">Cancelar</a>
</form>