@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
</div>
    <p>Esse é um trabalho do curso Análise e Desenvolvimento de Sistemas da PUC-Minas. Feito por:</p>
    <ul>
        <li>Brenda</li>
        <li>Catiane</li>
        <li>Grace</li>
        <li>Milton</li>
        <li>Nikolas</li>
        <li>Yasmin</li>
    </ul>
    <p>Para acessar o projeto <a href="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2024-2-e2-proj-int-t1-projeto-reciclagem">Clique aqui</a></p>

